body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #444;
}

.msg_error {
    margin: auto;
    display: table;
    margin-top: 30px;
    padding: 8px 20px 8px 12px;
    color: #900;
    visibility: hidden;
}
